.box {
    /* border: solid red 1px; */
    /* margin: 5px; */
}

/* MAIN SETTINGS */
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: #003049;
    display: grid;
    grid-template-columns: 30vh repeat(3, 1fr);
    grid-template-rows: minmax(auto, 15vh) minmax(4fr, auto) minmax(auto, 15vh);
    grid-template-areas: 
    "hd hd hd hd"
    "sd main main main"
    "ft ft ft ft";
}

.dark {
    color: #003049;
    text-align: center;
}

.light {
    color: #FCBF49;
}

/* HEADER */
header {
    background-color: #003049;
    grid-area: hd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 10vh; */
}

header * {
    margin: 1vh;
}

/* SIDEBAR */
.sidebar {
    background-color: #003049;
    grid-area: sd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar > .box {
    padding: 1vh 5vh;
    margin: 1vh;
}

.sidebar > .box:hover {
    background-color: #FCBF49;
    color: #003049;
    border-radius: 1vh 6vh;
}

/* CONTENT */
.content {
    background-color: #FCBF49;
    border-radius: 50px;
    margin: 1%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogposts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.blogpost {
    background-color: #EAE2B7;
    border: 5px #EAE2B7 solid;
    border-radius: 10%;
    margin: 1vh auto;
    margin-bottom: 3vh;
    box-shadow: 10px 10px 5px 0px #00304975;
    width: 50vh;
    max-width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blogpost:hover {
    border: #F77F00 5px solid;
}

.content h1 {
    padding: 1vh;
    border: 5px #003049 solid;
    border-radius: 30%;
    background-color: #F77F00;
}

.content img {
    border: 5px #EAE2B7 solid;
    max-width: 80%;
    max-height: 70%;
    border-radius: 30%;
}

.content * {
    font-size: 2rem;
}

.button {
    color: #D62828;
    background-color: #F77F00;
    /* font-size: 2em; */
    font-weight: bold;
    text-decoration: none;
    padding: 1vh 3vh;
    border-radius: 1vh 6vh;
    border: solid 
}

.button:hover {
    background-color: #D62828;
    color: #FCBF49;
}

/* FOOTER */
footer {
    background-color: #003049;
    grid-area: ft;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer * {
    margin: 1vh;
}

/* MEDIA */
@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15vh minmax(30vh, auto) 4fr 15vh;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }

    .content * {
        width: 90%;
        font-size: 1.5rem;
    }

    header {
        justify-content: center;
    }

    .blogposts {
        flex-direction: column;
        justify-content: center;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    .content * {
        font-size: 1rem;
    }
}