.box {
    /* border: solid red 1px; */
    /* margin: 5px; */
}

/* MAIN SETTINGS */
body {
    background-color: #E9C46A;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 4fr 15vh;
    grid-template-areas: 
    "hd hd hd hd"
    "sd main main main"
    "ft ft ft ft";
}

.dark {
    color: #264653;
    text-align: center;
}

.light {
    color: #E9C46A;
}

/* HEADER */
header {
    background-color: #264653;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
}

/* SIDEBAR */
.sidebar {
    background-color: #264653;
    grid-area: sd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar > .box {
    padding: 3vh;
}

/* CONTENT */
.content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogposts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blogpost {
    border: 5px #264653 solid;
    border-radius: 10%;
    margin: 3vh auto;
    box-shadow: 10px 10px 5px 0px #26465375;
    width: 40vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    border: 5px #264653 solid;
    max-width: 80%;
    max-height: 70%;
    border-radius: 30%;
}

.button {
    color: #E76F51;
    font-size: 2em;
    font-weight: bold;
    padding: 1vh 3vh;
}

.button:hover {
    background-color: #E76F51;
    color: #E9C46A;
    border-radius: 1vh 6vh;
}

/* FOOTER */
footer {
    background-color: #264653;
    grid-area: ft;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #E9C46A;
    display: block;
    width: 95%;
}
h3 {
    margin: 0;
}

/* MEDIA */
@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 15vh minmax(30vh, auto) 4fr 15vh;
        grid-template-areas: 
        "hd hd hd hd"
        "sd sd sd sd"
        "main main main main"
        "ft ft ft ft";
    }
    .blogposts {
        justify-content: center;
    }
}

@media (orientation: landscape) {
    img {
        max-width: auto;
        height: 50%;
    }
}